.footer {
	background-color: #181e2c;
	height: 45px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.fa-question-circle, .fa-cog{
	font-size: 16px;
	color: #fff;
}

.questions {
	background-color: #1f2637;
}

.tools {
	background-color: #15a4fa;
}

.tools, .questions {
	width: 55px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}