header
	.header
		.header-left
			span.dot.dot_orange
			span.dot.dot_yellow
			span.dot.dot_blue
		.logo 
			i.fas.fa-book
			|MyBookApp
		.header-right
			.support
				a(href="#") Help Center
				a(href="#") Our Support
	.user-account
		.user-account__img
			img(src="img/avatar-01.png" alt="")
		.user-account__name
			|Jon Doe
		.user-account__btn-more
