-
	var books = [
		{	
			text: 'All Books',
			href: '#'
		},
		{	
			text: 'Most Recent',
			href: '#'
		},
		{	
			text: 'Most Popular',
			href: '#'
		},
		{	
			text: 'Free Books',
			href: '#'
		}];

.col-5-6.main
	.top-panel
		.subheading Browse Available Books
	.sort-books
		ul
			each item in books
				li: a(href=item.href)=item.text
		.search
			form
				input(type="text" name="search" placeholder="Enter Keywords")
				button.fas.fa-search
	include content