.col-1-6
	.add-book
		button
			i.fas.fa-plus
			|Add a book
	.line
	nav.navigation
		ul#menu
			li
				i.fas.fa-book
				a(href="#") Now Reading
			li
				i.fas.fa-globe-asia
				a(href="#") Browse
			li
				i.fas.fa-shopping-cart
				a(href="#") Buy Books
			li
				i.fas.fa-star
				a(href="#") Favourite Books
			li
				i.fas.fa-th-list
				a(href="#") Wishlist
			li
				i.far.fa-clock
				a(href="#") History
	.line

