.col-1-6.sidebar
	.add-book
		button
			i.fas.fa-plus
			|Add a book
	.line
	nav.navigation
		ul.menu
			li
				i.fas.fa-book
				a(href="#") Now Reading
			li
				i.fas.fa-globe-asia
				a(href="#") Browse
			li
				i.fas.fa-shopping-cart
				a(href="#") Buy Books
			li
				i.fas.fa-star
				a(href="#") Favourite Books
			li
				i.fas.fa-th-list
				a(href="#") Wishlist
			li
				i.far.fa-clock
				a(href="#") History
	.line
	nav.navigation
		ul.favourites
			li
				span.dot-little.dot_pink
				a(href="#") Must Read Titles
			li
				span.dot-little.dot_orange
				a(href="#") Best Of List
			li
				span.dot-little.dot_blue
				a(href="#") Classic Novels
			li
				span.dot-little.dot_violet
				a(href="#") Non Fiction
	.line
	nav.navigation
		ul.resent
			li
				i.far.fa-clock
				div
					span.text You added #[a(href="#") Fight Clud] by #[a(href="#") Chuck Palahniuk] to your #[a(href="#") Must Read Titles] 
					span.time
						|24 minutes ago
			li
				i.far.fa-clock
				div
					span.text You added #[a(href="#") The Trial] by #[a(href="#") Franz Kafka] to your #[a(href="#") Must Read Titles] 
					span.time
						|48 minutes ago



