.col-1-6
	.add-book
		button
			i.fas.fa-plus
			|Add a book
	.line
	nav.navigation
		ul.menu
			li
				i.fas.fa-book
				a(href="#") Now Reading
			li
				i.fas.fa-globe-asia
				a(href="#") Browse
			li
				i.fas.fa-shopping-cart
				a(href="#") Buy Books
			li
				i.fas.fa-star
				a(href="#") Favourite Books
			li
				i.fas.fa-th-list
				a(href="#") Wishlist
			li
				i.far.fa-clock
				a(href="#") History
	.line
	nav.navigation
		ul.favourites
			li
				span.dot-little.dot_pink
				a(href="#") Must Read Titles
			li
				span.dot-little.dot_orange
				a(href="#") Best Of List
			li
				span.dot-little.dot_blue
				a(href="#") Classic Novels
			li
				span.dot-little.dot_violet
				a(href="#") Non Fiction
	.line
	nav.navigation
		ul.reset
			li
				i.far.fa-clock
				span.text You added #[strong Fight Clud] by #[strong Chuck Palahniuk] to your #[strong Must Read Titles] 
				span.time
					//- |24 minutes ago
			li
				i.far.fa-clock
				span.text You added #[strong Fight Clud] by #[strong Chuck Palahniuk] to your #[strong Must Read Titles] 
				//- span.time
				//- 	|24 minutes ago



